@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1><a class="nav-link text-blue" asp-area="" asp-controller="Home" asp-action="MovieSearch">Search for single movie for a showing</a></h1>
    <h1><a class="nav-link text-blue" asp-area="" asp-controller="Home" asp-action="MovieNightSearch">Search for three movies for a movie night</a></h1>
</div>
