@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="MovieNightResult" method="post">

    <label for="t1">Movie 1:</label>
    <input type="text" name="t1" />

    <label for="t1">Movie 2:</label>
    <input type="text" name="t2" />

    <label for="t1">Movie 3:</label>
    <input type="text" name="t3" />



    <input type="submit" name="submit" value="Search" />
</form>